body{
    background-color: #f4f4f4;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
html {
    font-family: "Montserrat", sans-serif;
  }
.card{
    text-align:center;
    box-shadow: 4px 3px 7px 2px #00000040;
    width:15rem;
    margin: 10px;
}

  h2{
      font-size: 1rem;
  }
   .heading{
    text-align: center;
  }
  header{
    background-color: lightblue;

  }
  
 
  
  footer {
    
    text-align: center;
    
  }
  .foot{
    padding: 1rem;
    margin-top: 50px;
    background-color: burlywood;
  }
  
  footer  {
    color:black;
  }
  .dictionary {
    display: flex;
    flex-wrap: wrap;
    
    margin: 1rem auto;
  }
  .image{
    width:150px;
    height:100px;
    padding-bottom: 10px;
  }
  .graph{
      /* padding:0 0 0 100px; */
      
      margin-top: 50px;
      
      
      height: 100px;
      width: 400px;
  }
  
  .graphmap{
    position: absolute;
    margin-top: 50px;
    height: 100px;
    width: 500px;
  }
  .container-fluid{
    padding-bottom: 100px;
    padding: 3% 15%;
  }
  .dictionaryGraph{
    width: 50%;
    float: left;
    padding: 20px;
  }  
  @media only screen and (max-width:1028px) {
    body {
      background-color: lightblue;
    }
    
    .graphmap{
      position: static;
    }
  }
  
  
  
  
   
  